body {
  padding-bottom: 20px;
  background-color: #f5f8fa;
}

.one {
  margin-right: 27%;
  margin-left: 27%;
}

.btn:hover {
  background-color: #2380E2;
}

.form-search {
  font-size: 18px;
  color: blue;
  text-align: center;
}

.jumbotron {
  background-color: #dcdcdc;
  text-align: center;
  /*border-radius: 2px;*/
  /*padding: 40px 15px;*/
}

.panel-heading {
  text-align: left;
  padding-left: 3%;
}

.panel {
  background-color: #ebebeb;
  border-color: #e1e8ed;
}


/*signin & signup pages*/

.inputdata input {
  display: block;
  font-size: 15px;
  padding: 5px;
  margin-bottom: 5px;
}
/*/end signin*/

ul {
  list-style-type: none;
}

.btn-go {
  border-radius: 90px;
}

.media-photo {
  width: 172px;
  height: 172px;
}

.score {
  color: blue;
}

.bdg-score {
  font-weight: lighter;
}

.list-scores {
  width: 120px;
}


/*animate*/

.slide.ng-leave {
  position: relative;
}

.slide.ng-enter {
  position: absolute;
}

.slide.ng-enter,
.slide.ng-leave {
  -webkit-transition: -webkit-transform 0.3s ease-in, opacity 0.3s ease-in;
  -moz-transition: -moz-transform 0.3s ease-in, opacity 0.3s ease-in;
  -o-transition: -o-transform 0.3s ease-in, opacity 0.3s ease-in;
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
}

.slide.ng-enter,
.slide.ng-leave.ng-leave-active {
  -webkit-transform: scaleX(0.0001);
  -o-transform: scaleX(0.0001);
  transform: scaleX(0.0001);
  opacity: 0;
}

.slide,
.slide.ng-enter.ng-enter-active {
  -webkit-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
  opacity: 1;
}
