body {
  padding-bottom: 20px;
  background-color: #f5f8fa;
}

.jumbotron {
  text-align: center;
  background-color: #dcdcdc;
}
.one {
  margin-right: 27%;
  margin-left: 27%;
}

.btn:hover {
  background-color: #2380e2;
}

.form-search {
  font-size: 18px;
  text-align: center;
  font-style: oblique;
  color: blue;
  width: 445px;
  margin-left: 90px;
}

.trends {
  border-color: #e1e8ed;
  background-color: #ebebeb;
}

.panel-heading {
  padding-left: 3%;
  text-align: left;
}

.panel {
  border-color: #e1e8ed;
  background-color: #ebebeb;
}


/*signin & signup pages*/

.inputdata input {
  font-size: 15px;
  display: block;
  width: 445px;
  margin-bottom: 5px;
  padding: 10px;
  text-align: center;
}

.middle {
  margin-left: 27%;
  margin-right: 30%;
  text-align: center;
}


/*/end signin*/

.middle-about {
  margin-left: 15%;
  margin-right: 18%;
  text-align: center;
}

ul {
  list-style-type: none;
}

.btn-go {
  border-radius: 90px;
}

.media-photo {
  width: 250px;
}

.bdg-score {
  font-weight: lighter;
}

.list-scores {
  width: 400px;
}

.lgi {
  /*height: 40px;*/
  height: 60px;
}

.sentiment {
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.1em;
}


/*animation*/

.slide.ng-leave {
  position: relative;
}

.slide.ng-enter {
  position: absolute;
}

.slide.ng-enter,
.slide.ng-leave {
  -webkit-transition: -webkit-transform .3s ease-in, opacity .3s ease-in;
  -moz-transition: -moz-transform .3s ease-in, opacity .3s ease-in;
  -o-transition: -o-transform .3s ease-in, opacity .3s ease-in;
  transition: transform .3s ease-in, opacity .3s ease-in;
}

.slide.ng-enter,
.slide.ng-leave.ng-leave-active {
  -webkit-transform: scaleX(.0001);
  -o-transform: scaleX(.0001);
  transform: scaleX(.0001);
  opacity: 0;
}

.slide,
.slide.ng-enter.ng-enter-active {
  -webkit-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
  opacity: 1;
}
