<!-- <!doctype html>
<html ng-app="sL">

<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
  <title>My Modals</title>
</head> -->

<body class="container">
  <div ng-controller="ModalController">
    <script type="text/ng-template" id="myModalContent.html">
      <div class="modal-header">
        <h3 class="modal-title">I am a modal!</h3>
      </div>
      <div class="modal-body">
        <ul>
          <li ng-repeat="item in items">
            <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
          </li>
        </ul>
        Selected: <b>{{ selected.item }}</b>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
      </div>
    </script>
    <button type="button" class="btn btn-default" ng-click="open()">Open me!</button>
    <div ng-show="selected">Selection from a modal: {{ selected }}</div>
  </div>
  <div ui-view></div>
<!--   <footer>

    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="lib/angular-animate/angular-animate.js"></script>

    <script src="styles/ui-bootstrap-tpls-1.2.5.js"></script>
    <script src="src/modal.js"></script>
    <link rel="stylesheet" type="text/css" href="styles/bootstrap.css">
  </footer>
</body>

</html> -->
