<!-- search field and go button -->
<div class="jumbotron">
  <div class="container">
    <h1>{{appName}}</h1>
    <p class="lead"></p>
  </div>
  <div class="row one">
    <div class="col-md-12">
      <form class="searchdata" role="search">
        <div class="form-group">
          <input type="text" class="form-control form-search" placeholder="Enter a political news topic..." ng-model="input">
        </div>
        <a ui-sref=".results">
          <button type="submit" class="btn btn-sm btn-info btn-go" ng-click="getLinks()">
            {{buttonText}}
          </button>
        </a>
      </form>
    </div>
  </div>
</div>
<!-- /search field and go button -->
<hr/>
<div ui-view></div>
