<div id="history" ng-init='logFavs()'>
    <h2>Favorites</h2>
      <div class="panel-body">
        <div class="list-group" ng-repeat="item in favorites">
          <ul class="list-group">
            <li class="list-group-item">
              <div class="media media-news">
                <!-- news image -->
                <div class="media-left">
                  <a href="#">
                    <img class="media-object media-photo" src="{{item.thumbnail}}"/>
                  </a>
                  <!-- <button>
                    <span>&#10007   Remove from Favorites</span>
                  </button> -->
                </div>
                <div class="media-body">
                  <div class="well">
                    <!-- headline -->
                    <h4 class="media-heading">{{item.headline}}</h4>
                    <!-- story -->
                    <p class="text">{{item.summary}}</p>
                    <a class="btn btn-info bdg-score" href="{{item.url}}" target="_blank" role="button">
                      <img src="{{item.img}}" alt="X" width="16" height="16"/>
                      View source &raquo;
                    </a>
                  <button>
                    <span>&#10007   Remove from Favorites</span>
                  </button>
                  </div>
                </div>
    </div>
<div ui-view></div>


