<div id="signin">

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="well middle">
          <h1>Sign In</h1>
          <a href="/auth/facebook" class="btn oauth"><img src="/assets/fb.png" alt="Log in with facebook" class="img-responsive"></a>
          <a href="/auth/twitter" class="btn oauth"><img src="/assets/twitter-signin.png" alt="Log in with twitter" class="img-responsive"></a>
          <h2> - or - <h2>
          <form class="inputdata" name="signinForm" ng-submit="signin()">
            <input type="text" placeholder="username" ng-model="user.username" ng-minlength="6" ng-required="true" class="form-control">
            <input type="password" placeholder="password" ng-model="user.password" ng-minlength="6" ng-required="true"  class="form-control">
            <button class="btn btn-submit" ng-disabled="signinForm.$invalid">sign in</button>
          </form>
          <h6>
            <a ui-sref="signup">Don't have an account?<br>
              <strong>Create one!</strong>
            </a>
          </h6>
        </div>
      </div>
    </div>
  </div>
</div>
